<img src="http://www.reeem.org/wp-content/uploads/2017/10/cropped-reeem-logo-transparent.png" width="300" style="float: left">
<img src="http://reiner-lemoine-institut.de//wp-content/uploads/2015/09/rlilogo.png" width="100" style="float: right">

# REEEM-DB - TIMESPanEU

__copyright__ 	= "© Reiner Lemoine Institut" <br>
__license__ 	= "GNU Affero General Public License Version 3 (AGPL-3.0)" <br>
__url__ 		= "https://www.gnu.org/licenses/agpl-3.0.en.html" <br>
__author__ 		= "Ludwig Hülk" <br>

# Import

In [1]:
# basic
import sys
import os
import getpass
import pandas as pd
import numpy as np
import json
import pathlib
from sqlalchemy import *
# plot
import matplotlib.pyplot as plt
import matplotlib.ticker as mticker
import plotly.graph_objs as go
import plotly.offline as pltly
import colorlover as cl
import seaborn as sns
# notebook
from IPython.display import Image
from IPython.core.display import HTML 

pltly.init_notebook_mode(connected=True)
%matplotlib inline

version = 'v0.2.0'
project = 'REEEM'

# Database Connection

This function creates a database connection to the **reeem_db**.<br>
The default user is **reeem_vis**, a user that has only read rights.

This section establishes the database connection and asks for the **password**.<br>
The username can be changed in the corresponding function above.<br>
If you don't have a username or forgot your password please contact your database admins.

In [2]:
def reeem_session():
    """SQLAlchemy session object with valid connection to reeem database"""
    
    print('Please provide connection parameters to database:\n' +
              'Hit [Enter] to take defaults')
    host = '130.226.55.43' # input('host (default 130.226.55.43): ')
    port = '5432' # input('port (default 5432): ')
    database = 'reeem' # input("database name (default 'reeem'): ")
    user = 'reeem_vis' # input('user (default postgres): ')
    # password = input('password: ')
    password = getpass.getpass(prompt='password: ',
                                   stream=sys.stderr)
    con = create_engine(
            'postgresql://' + '%s:%s@%s:%s/%s' % (user,
                                                  password,
                                                  host,
                                                  port,
                                                  database)).connect()
    print('Password correct! Database connection established.')
    return con

con = reeem_session()

C:\Anaconda3\envs\reeem-vis\lib\site-packages\ipykernel_launcher.py:12: UserWarning:

The `stream` parameter of `getpass.getpass` will have no effect when using ipykernel

Please provide connection parameters to database:
Hit [Enter] to take defaults
password: ········
Password correct! Database connection established.

# Table Info

In [3]:
# Database
schema = 'model_draft'
table_in = 'reeem_times_paneu_input'
table_out = 'reeem_times_paneu_output'
folder = 'times_paneu'

pathlib.Path('data/'+folder).mkdir(parents=True, exist_ok=True) 
print("Database Schema:", schema +'\n'+ "Input table:", table_in +'\n'+ 
      "Output table:", table_out +'\n'+ "Created folder:", folder )

Database Schema: model_draft
Input table: reeem_times_paneu_input
Output table: reeem_times_paneu_output
Created folder: times_paneu

## Database Query

This section is used to query the database tables (**table_in** and **table_out**).<br>

In [4]:
# Number of entries in table
sql = text("""
    SELECT  'In' AS data, count(*) AS count
    FROM    {0}.{1}
    UNION ALL
    SELECT  'Out' AS data, count(*) AS count
    FROM    {0}.{2}""".format(schema, table_in, table_out))
df_num = pd.read_sql_query(sql, con)
df_num

  data    count
0   In   420008
1  Out  4858080

In [5]:
# Pathways
column = 'pathway' # id, pathway, version, region, year, indicator, category, value, unit
sql = text("""
    SELECT  'In' AS data, {3}, count(*) AS count
    FROM    {0}.{1}
    GROUP BY {3} 
    UNION ALL 
    SELECT  'Out' AS data, {3}, count(*) AS count
    FROM    {0}.{2}
    GROUP BY {3} 
    ORDER BY {3}; """.format(schema, table_in, table_out, column))
df_path = pd.read_sql_query(sql, con)
df_path

  data               pathway    count
0  Out                  Base  1802768
1   In                  Base   241024
2  Out  Base(withRen.Target)   421984
3   In               HighRES    78176
4  Out               HighRES  1367376
5   In                 Pilot    23416
6  Out                 Pilot   421992
7  Out                Pilot2   421976
8   In          StorageInnov    77392
9  Out          StorageInnov   421984

In [6]:
# Versions
column = 'pathway,version' # id, pathway, version, region, year, indicator, category, value, unit
sql = text("""
    SELECT  'In' AS data, {3}, count(*) AS count
    FROM    {0}.{1}
    GROUP BY {3} 
    UNION ALL 
    SELECT  'Out' AS data, {3}, count(*) AS count
    FROM    {0}.{2}
    GROUP BY {3} 
    ORDER BY {3}; """.format(schema, table_in, table_out, column))
df_ver = pd.read_sql_query(sql, con)
df_ver

   data               pathway version   count
0   Out                  Base  DataV1  893368
1    In                  Base  DataV1   78176
2   Out                  Base  DataV2  437424
3    In                  Base  DataV2   81424
4    In                  Base  DataV3   81424
5   Out                  Base  DataV3  471976
6   Out  Base(withRen.Target)  DataV1  421984
7    In               HighRES  DataV1   78176
8   Out               HighRES  DataV1  894680
9   Out               HighRES  DataV3  472696
10  Out                 Pilot  DataV1  421992
11   In                 Pilot  DataV1   23416
12  Out                Pilot2  DataV1  421976
13   In          StorageInnov  DataV1   77392
14  Out          StorageInnov  DataV1  421984

In [7]:
# Years
column = 'year' # id, pathway, version, region, year, indicator, category, value, unit
sql = text("""
    SELECT  'In' AS data, {3}, count(*) AS count
    FROM    {0}.{1}
    GROUP BY {3} 
    UNION ALL 
    SELECT  'Out' AS data, {3}, count(*) AS count
    FROM    {0}.{2}
    GROUP BY {3} 
    ORDER BY {3} ; """.format(schema, table_in, table_out, column))
df_year = pd.read_sql_query(sql, con)
df_year

   data  year   count
0    In  2015   52501
1   Out  2015  607260
2    In  2020   52501
3   Out  2020  607260
4    In  2025   52501
5   Out  2025  607260
6    In  2030   52501
7   Out  2030  607260
8    In  2035   52501
9   Out  2035  607260
10   In  2040   52501
11  Out  2040  607260
12  Out  2045  607260
13   In  2045   52501
14   In  2050   52501
15  Out  2050  607260

In [8]:
# Regions
column = 'region' # id, pathway, version, region, year, indicator, category, value, unit
sql = text("""
    SELECT  'In' AS data, {3}, count(*) AS count
    FROM    {0}.{1}
    GROUP BY {3}
    UNION ALL 
    SELECT  'Out' AS data, {3}, count(*) AS count
    FROM    {0}.{2}
    GROUP BY {3}; """.format(schema, table_in, table_out, column))
df_reg = pd.read_sql_query(sql, con)
df_reg

   data region   count
0    In     IE   14792
1    In     LT   14792
2    In     ES   14784
3    In     MT   14680
4    In     BE   14784
5    In     IT   14792
6    In     AT   14776
7    In     LU   14720
8    In     SK   14776
9    In     PT   14776
10   In     PL   14784
11   In     FI   14784
12   In     DE   14712
13   In     EE   14736
14   In     NL   14792
15   In     HU   14792
16   In     CY   14792
17   In     GR   14792
18   In     SE   14784
19   In     UK   14768
20   In     DK   14792
21   In     FR   14792
22   In     LV   14792
23   In     SI   14784
24   In     RO   14792
25   In     BG   14776
26   In     CZ   14776
27   In   EU28    6312
28   In     HR   14784
29  Out     IE  167976
30  Out     ES  168064
31  Out     LT  168064
32  Out     MT  167712
33  Out     BE  168144
34  Out     IT  168416
35  Out     AT  168416
36  Out     SK  168152
37  Out     LU  168064
38  Out     FI  168152
39  Out     PL  168328
40  Out     PT  167976
41  Out     DE  168680
42  Out     EE  168064
43  Out     NL  168240
44  Out     HU  168328
45  Out     CY  167248
46  Out     GR  168064
47  Out     SE  168328
48  Out     UK  168152
49  Out     DK  168152
50  Out     FR  168416
51  Out     SI  168240
52  Out     LV  168064
53  Out     RO  168064
54  Out     BG  167264
55  Out     CZ  168240
56  Out   EU28  152208
57  Out     HR  166864

In [9]:
# Categories
column = 'category' # id, pathway, version, region, year, indicator, category, value, unit
sql = text("""
    SELECT  'In' AS data, {3}, count(*) AS count
    FROM    {0}.{1}
    GROUP BY {3} 
    UNION ALL 
    SELECT  'Out' AS data, {3}, count(*) AS count
    FROM    {0}.{2}
    GROUP BY {3}; """.format(schema, table_in, table_out, column))
df_cat = pd.read_sql_query(sql, con)
df_cat

    data                                           category  count
0     In                        Service demands agriculture   1408
1     In                          Service demands transport  19712
2     In       Maximum electricity production of renewables   2800
3     In                              Potentials of biomass   1728
4     In                         Variable costs of storages  60480
5     In                                 Import fuel prices   1160
6     In                             Efficiency of storages  60480
7     In                               Lifetime of storages  60480
8     In                                        Fuel prices   2240
9     In       Approximation energy carrier prices industry   1792
10    In       Minimal electricity production of renewables   2480
11    In                              Fix costs of storages  60480
12    In      Approximation energy carrier prices transport   2688
13    In                       Investment costs of storages  60480
14    In                        Service demands residential  36608
15    In                         Service demands commercial  18304
16    In                           Service demands industry  25344
17    In     Approximation energy carrier prices households   1344
18   Out                                               None   1160
19   Out  Final energy consumption industry by subsector...  20416
20   Out  Electricity Production from Public and Industr...   7656
21   Out                         Fuel Input Car_Methanol FC   2552
22   Out                    Fuel Input Bus_Natural Gas PHEV  10208
23   Out  Fuel input to Public and Industrial CHP Plants...   2552
24   Out  Installed Capacities Public and Industrial CHP...  10208
25   Out                    Fuel Input Car_Natural Gas PHEV  10208
26   Out                             Fuel Input Bus_Ethanol   2552
27   Out  Electricity Production from Public and Industr...  15312
28   Out  NEW Capacities Public and Industrial Power Pla...  10208
29   Out  Installed Capacities Public and Industrial CHP...   7656
..   ...                                                ...    ...
396  Out                             Fuel Input Car_Ethanol   2552
397  Out                         Fuel Input Bus_Methanol FC   2552
398  Out  Installed Capacities Public and Industrial CHP...   2552
399  Out  Installed Capacities Public and Industrial CHP...   2552
400  Out  Installed Capacities Public and Industrial CHP...   5104
401  Out                Final energy consumption Households  22968
402  Out  Electricity Production from Public and Industr...   7656
403  Out  Fixed O&M costs household by demand type and f...   2552
404  Out                                     Fuel Input Bus   2552
405  Out  Installed Capacities Public and Industrial CHP...   7656
406  Out  Final energy consumption industry by subsector...  20416
407  Out  Electricity Production from Public and Industr...   2552
408  Out  Fixed O&M costs household by demand type and f...   2552
409  Out                Final energy consumption Commercial  22968
410  Out                            Vehicle Stock Truck HDV  58696
411  Out                        Fuel Input Truck HDV_Diesel  12760
412  Out  Electricity Production from Public and Industr...  17864
413  Out                  Fuel Input Truck LDV_Ethanol PHEV   7656
414  Out  Final energy consumption industry by subsector...  20416
415  Out  NEW Capacities Public and Industrial Power Pla...   2552
416  Out  Investment costs household by demand type and ...   2552
417  Out                       Fuel Input Car_Diesel Hybrid  12760
418  Out  Installed Capacities Public and Industrial CHP...  17864
419  Out  Installed Capacities Public and Industrial CHP...   7656
420  Out                      Fuel Input navigation_Bunkers  10208
421  Out  Investment costs household by demand type and ...  22960
422  Out  NEW Capacities Public and Industrial Power Pla...  10208
423  Out  Installed Capacities Public and Industrial Pow...   7656
424  Out  Fuel input to Public and Industrial CHP Plants...  17864
425  Out  Final energy consumption industry by subsector...  20416

[426 rows x 3 columns]

In [10]:
# Indicators
column = 'nid,category,indicator' # id, pathway, version, region, year, indicator, category, value, unit
sql = text("""
    SELECT  'In' AS data, {3}, count(*) AS count
    FROM    {0}.{1}
    GROUP BY {3} 
    UNION ALL 
    SELECT  'Out' AS data, {3}, count(*) AS count
    FROM    {0}.{2}
    GROUP BY {3}
    ORDER BY category, indicator, nid; """.format(schema, table_in, table_out, column))
df_nind = pd.read_sql_query(sql, con)
df_nind.index.names = ['rid']
df_nind

     data     nid                 category            indicator  count
rid
0     Out  1036.0             Activity Bus            Biodiesel      8
1     Out  1043.0             Activity Bus            Biodiesel   1392
2     Out  1102.0             Activity Bus            Biodiesel    224
3     Out  1124.0             Activity Bus            Biodiesel     32
4     Out  1190.0             Activity Bus            Biodiesel    896
5     Out  1039.0             Activity Bus  Combined Combustion      8
6     Out  1046.0             Activity Bus  Combined Combustion   1392
7     Out  1105.0             Activity Bus  Combined Combustion    224
8     Out  1127.0             Activity Bus  Combined Combustion     32
9     Out  1193.0             Activity Bus  Combined Combustion    896
10    Out  1024.0             Activity Bus               Diesel      8
11    Out  1031.0             Activity Bus               Diesel   1392
12    Out  1090.0             Activity Bus               Diesel    224
13    Out  1112.0             Activity Bus               Diesel     32
14    Out  1178.0             Activity Bus               Diesel    896
15    Out  1025.0             Activity Bus        Diesel hybrid      8
16    Out  1032.0             Activity Bus        Diesel hybrid   1392
17    Out  1091.0             Activity Bus        Diesel hybrid    224
18    Out  1113.0             Activity Bus        Diesel hybrid     32
19    Out  1179.0             Activity Bus        Diesel hybrid    896
20    Out  1026.0             Activity Bus          Diesel PHEV      8
21    Out  1033.0             Activity Bus          Diesel PHEV   1392
22    Out  1092.0             Activity Bus          Diesel PHEV    224
23    Out  1114.0             Activity Bus          Diesel PHEV     32
24    Out  1180.0             Activity Bus          Diesel PHEV    896
25    Out  1038.0             Activity Bus                  DME      8
26    Out  1045.0             Activity Bus                  DME   1392
27    Out  1104.0             Activity Bus                  DME    224
28    Out  1126.0             Activity Bus                  DME     32
29    Out  1192.0             Activity Bus                  DME    896
...   ...     ...                      ...                  ...    ...
7503  Out  1080.0  Vehicle Stock Truck LDV          Methanol IC     32
7504  Out  1146.0  Vehicle Stock Truck LDV          Methanol IC    896
7505  Out   982.0  Vehicle Stock Truck LDV          Natural Gas      8
7506  Out   989.0  Vehicle Stock Truck LDV          Natural Gas   1392
7507  Out  1048.0  Vehicle Stock Truck LDV          Natural Gas    224
7508  Out  1070.0  Vehicle Stock Truck LDV          Natural Gas     32
7509  Out  1136.0  Vehicle Stock Truck LDV          Natural Gas    896
7510  Out   983.0  Vehicle Stock Truck LDV   Natural Gas hybrid      8
7511  Out   990.0  Vehicle Stock Truck LDV   Natural Gas hybrid   1392
7512  Out  1049.0  Vehicle Stock Truck LDV   Natural Gas hybrid    224
7513  Out  1071.0  Vehicle Stock Truck LDV   Natural Gas hybrid     32
7514  Out  1137.0  Vehicle Stock Truck LDV   Natural Gas hybrid    896
7515  Out   984.0  Vehicle Stock Truck LDV     Natural Gas PHEV      8
7516  Out   991.0  Vehicle Stock Truck LDV     Natural Gas PHEV   1392
7517  Out  1050.0  Vehicle Stock Truck LDV     Natural Gas PHEV    224
7518  Out  1072.0  Vehicle Stock Truck LDV     Natural Gas PHEV     32
7519  Out  1138.0  Vehicle Stock Truck LDV     Natural Gas PHEV    896
7520  Out   998.0  Vehicle Stock Truck LDV                  Sum      8
7521  Out  1005.0  Vehicle Stock Truck LDV                  Sum     96
7522  Out  1064.0  Vehicle Stock Truck LDV                  Sum      8
7523  Out  1086.0  Vehicle Stock Truck LDV                  Sum     32
7524  Out  1152.0  Vehicle Stock Truck LDV                  Sum     32
7525  Out  1005.0  Vehicle Stock Truck LDV                Summe   1296
7526  Out  1064.0  Vehicle Stock Truck LDV                Summe    216
7527  Out  1152.0  Vehicle Stock Truck LDV                Summe    864
7528  Out  1982.0                     None                 None      8
7529  Out  1985.0                     None                 None     24
7530  Out  2048.0                     None                 None    224
7531  Out  2051.0                     None                 None    672
7532  Out     NaN                     None                 None    232

[7533 rows x 5 columns]

In [11]:
# Indicators
column = 'category,indicator' # id, pathway, version, region, year, indicator, category, value, unit
sql = text("""
    SELECT  'In' AS data, {3}, count(*) AS count
    FROM    {0}.{1}
    GROUP BY {3} 
    UNION ALL 
    SELECT  'Out' AS data, {3}, count(*) AS count
    FROM    {0}.{2}
    GROUP BY {3}
    ORDER BY category, indicator; """.format(schema, table_in, table_out, column))
df_ind = pd.read_sql_query(sql, con)
df_ind.index.names = ['rid']
df_ind

     data                 category            indicator  count
rid
0     Out             Activity Bus            Biodiesel   2552
1     Out             Activity Bus  Combined Combustion   2552
2     Out             Activity Bus               Diesel   2552
3     Out             Activity Bus        Diesel hybrid   2552
4     Out             Activity Bus          Diesel PHEV   2552
5     Out             Activity Bus                  DME   2552
6     Out             Activity Bus          Electricity   2552
7     Out             Activity Bus              Ethanol   2552
8     Out             Activity Bus       Ethanol hybrid   2552
9     Out             Activity Bus         Ethanol PHEV   2552
10    Out             Activity Bus             Gasoline   2552
11    Out             Activity Bus      Gasoline hybrid   2552
12    Out             Activity Bus        Gasoline PHEV   2552
13    Out             Activity Bus          Hydrogen FC   2552
14    Out             Activity Bus   Hydrogen FC hybrid   2552
15    Out             Activity Bus          Hydrogen IC   2552
16    Out             Activity Bus                  LPG   2552
17    Out             Activity Bus          Methanol FC   2552
18    Out             Activity Bus          Methanol IC   2552
19    Out             Activity Bus          Natural Gas   2552
20    Out             Activity Bus   Natural Gas hybrid   2552
21    Out             Activity Bus     Natural Gas PHEV   2552
22    Out             Activity Bus                  Sum    176
23    Out             Activity Bus                Summe   2376
24    Out             Activity Car            Biodiesel   2552
25    Out             Activity Car  Combined Combustion   2552
26    Out             Activity Car               Diesel   2552
27    Out             Activity Car        Diesel hybrid   2552
28    Out             Activity Car          Diesel PHEV   2552
29    Out             Activity Car                  DME   2552
...   ...                      ...                  ...    ...
2309  Out  Vehicle Stock Truck HDV          Natural Gas   2552
2310  Out  Vehicle Stock Truck HDV   Natural Gas hybrid   2552
2311  Out  Vehicle Stock Truck HDV     Natural Gas PHEV   2552
2312  Out  Vehicle Stock Truck HDV                  Sum    176
2313  Out  Vehicle Stock Truck HDV                Summe   2376
2314  Out  Vehicle Stock Truck LDV            Biodiesel   2552
2315  Out  Vehicle Stock Truck LDV  Combined Combustion   2552
2316  Out  Vehicle Stock Truck LDV               Diesel   2552
2317  Out  Vehicle Stock Truck LDV        Diesel hybrid   2552
2318  Out  Vehicle Stock Truck LDV          Diesel PHEV   2552
2319  Out  Vehicle Stock Truck LDV                  DME   2552
2320  Out  Vehicle Stock Truck LDV          Electricity   2552
2321  Out  Vehicle Stock Truck LDV              Ethanol   2552
2322  Out  Vehicle Stock Truck LDV       Ethanol hybrid   2552
2323  Out  Vehicle Stock Truck LDV         Ethanol PHEV   2552
2324  Out  Vehicle Stock Truck LDV             Gasoline   2552
2325  Out  Vehicle Stock Truck LDV      Gasoline hybrid   2552
2326  Out  Vehicle Stock Truck LDV        Gasoline PHEV   2552
2327  Out  Vehicle Stock Truck LDV          Hydrogen FC   2552
2328  Out  Vehicle Stock Truck LDV   Hydrogen FC hybrid   2552
2329  Out  Vehicle Stock Truck LDV          Hydrogen IC   2552
2330  Out  Vehicle Stock Truck LDV                  LPG   2552
2331  Out  Vehicle Stock Truck LDV          Methanol FC   2552
2332  Out  Vehicle Stock Truck LDV          Methanol IC   2552
2333  Out  Vehicle Stock Truck LDV          Natural Gas   2552
2334  Out  Vehicle Stock Truck LDV   Natural Gas hybrid   2552
2335  Out  Vehicle Stock Truck LDV     Natural Gas PHEV   2552
2336  Out  Vehicle Stock Truck LDV                  Sum    176
2337  Out  Vehicle Stock Truck LDV                Summe   2376
2338  Out                     None                 None   1160

[2339 rows x 4 columns]

In [12]:
# Write data as CSV file
csvname = 'data/{0}/reeem_{0}_indicators.csv'.format(folder)
df_ind.to_csv(csvname, sep=';')
print("Data saved to file:", csvname)

Data saved to file: data/times_paneu/reeem_times_paneu_indicators.csv

## Table metadata

Access the metadata from the database tables and write metadata string as JSON file.<br>

In [13]:
# Input Metadata
sql = text("""SELECT obj_description('{0}.{1}'::regclass);""".format(schema, table_in))
meta_in = pd.read_sql_query(sql, con).loc[:,'obj_description'].iloc[0]
print(meta_in)

# Save data to JSON file
fname_in = 'data/{0}/{1}_metadata.json'.format(folder, table_in)
with open(fname_in, 'w') as metafile:
    json.dump(json.loads(meta_in), metafile, indent=4)
    print("Data saved to file:", fname_in)

{"title": "REEEM Times PanEU Input",
    "description": "Input parameters: Service Demands, Fuel Prices, Potentials",
    "language": [ "eng" ],
    "spatial":
        {"location": "none",
        "extent": "Europe",
        "resolution": "Country"},
    "temporal":
        {"reference_date": "2010",
        "start": "2015",
        "end": "2050",
        "resolution": "5 years"},
    "sources": [
        {"name": "", "description": "", "url": "", "license": "", "copyright": ""},
        {"name": "", "description": "", "url": "", "license": "", "copyright": ""} ],
    "license":
        {"id": "tba",
        "name": "tba",
        "version": "tba",
        "url": "tba",
        "instruction": "tba",
        "copyright": "tba"},
    "contributors": [
        {"name": "Ludee", "email": "none", "date": "2016-12-01", "comment": "Create table"},
        {"name": "Ludee", "email": "none", "date": "2017-01-18", "comment": "Update metadata"},
        {"name": "Ludee", "email": "none", "date": "2017-07-24", "comment": "Update metadata"},
        {"name": "Ludee", "email": "none", "date": "2017-11-02", "comment": "Update structure"},
        {"name": "Ludee", "email": "none", "date": "2017-11-06", "comment": "Include pathway"},
        {"name": "Ludee", "email": "none", "date": "2018-01-30", "comment": "New naming structure"},
        {"name": "Ludee", "email": "none", "date": "2018-02-27", "comment": "Simplify structure"} ],
    "resources": [
        {"name": "model_draft.reeem_times_paneu_input",
        "format": "PostgreSQL",
        "fields": [
            {"name": "id", "description": "Unique identifier", "unit": "none"},
            {"name": "nid", "description": "Row id", "unit": "none"},
            {"name": "dfid", "description": "Internal dataframe id", "unit": "none"},
            {"name": "pathway", "description": "REEEM pathway", "unit": "none"},
            {"name": "framework", "description": "REEEM framework", "unit": "none"},
            {"name": "version", "description": "REEEM version", "unit": "none"},
            {"name": "region", "description": "Country or region", "unit": "none"},
            {"name": "year", "description": "Year", "unit": "none"},
            {"name": "category", "description": "2. classification", "unit": "none"},
            {"name": "indicator", "description": "Parameter name", "unit": "none"},
            {"name": "value", "description": "Parameter value", "unit": "unit"},
            {"name": "unit", "description": "Parameter unit", "unit": "none"},
            {"name": "aggregation", "description": "True if aggregated", "unit": "none"},
            {"name": "tags", "description": "Free classification", "unit": "none"},
            {"name": "updated", "description": "Timestamp", "unit": "none"} ] } ],
    "metadata_version": "1.3"}
Data saved to file: data/times_paneu/reeem_times_paneu_input_metadata.json

In [14]:
# Output Metadata
sql = text("""SELECT obj_description('{0}.{1}'::regclass);""".format(schema, table_out))
meta_out = pd.read_sql_query(sql, con).loc[:,'obj_description'].iloc[0]
print(meta_out)

# Save data to JSON file
fname_out = 'data/{0}/{1}_metadata.json'.format(folder, table_out)
with open(fname_out, 'w') as metafile:
    json.dump(json.loads(meta_out), metafile, indent=4)
    print("Data saved to file:", fname_out)

{"title": "REEEM Times PanEU Output",
    "description": "Energy Consumption, Installed Capacities, Electricity Production, Heat Production, Fuel Input, Emissions, Mobility, Electricity Exchange",
    "language": [ "eng" ],
    "spatial":
        {"location": "none",
        "extent": "Europe",
        "resolution": "Country"},
    "temporal":
        {"reference_date": "2010",
        "start": "2010",
        "end": "2050",
        "resolution": "5 years"},
    "sources": [
        {"name": "TIMES PanEU", "description": "TIMES is an energy system model generator which is a further development of the model generators MARKAL and EFOM-ENV, written in GAMS. TIMES is a bottom-up linear optimization model based on a technical approach. The aim of the model is to optimize the energy system cost according to the given energy demands, energy technologies, and policy requirements. The Pan-European TIMES energy system model (TIMES PanEU) is a 30 region partial equilibrium energy system model. The model covers the EU-28 countries, with addition of Norway and Switzerland. The base year is 2010 and the time horizon ends in 2050. The current structure accounts for 12 time slices, 4 seasonal and 3 daily.  The model is split in 5-year time steps. Both greenhouse gas emissions (CO2, CH4, N2O, SF6) and local air pollutant emissions (SO2, CO, NOx, NMVOC, PM10, PM2.5) are included. TIMES PanEU contains the country specific data covering all the sectors related to energy supply and demand. The system commences from the potential of different energy sources in a particular country and includes public and industrial generation of electricity, industry, agriculture, refineries, inventory power stations and the end-use service demands such as heating, lighting and transportation.", "url": "http://openenergyplatform.org/factsheets/models/41/", "license": "none", "copyright": "none"} ],
    "license":
        {"id": "ODC-BY-1.0",
        "name": "Open Data Commons Attribution License 1.0",
        "version": "1.0",
        "url": "http://opendatacommons.org/licenses/by",
        "instruction": "You are free: To Share, To Create, To Adapt; As long as you: Attribute!",
        "copyright": "© Institut für Energiewirtschaft und Rationelle Energieanwendung (IER) der Universität Stuttgart"},
    "contributors": [
        {"name": "Ludee", "email": "none", "date": "2016-12-01", "comment": "Create table"},
        {"name": "Ludee", "email": "none", "date": "2017-01-18", "comment": "Update metadata"},
        {"name": "Ludee", "email": "none", "date": "2017-07-24", "comment": "Update metadata"},
        {"name": "Ludee", "email": "none", "date": "2017-11-02", "comment": "Update structure"},
        {"name": "Ludee", "email": "none", "date": "2017-11-06", "comment": "Include pathway"},
        {"name": "Ludee", "email": "none", "date": "2018-01-30", "comment": "New naming structure"},
        {"name": "Ludee", "email": "none", "date": "2018-02-27", "comment": "Simplify structure"},
        {"name": "Ludee", "email": "none", "date": "2018-03-15", "comment": "Add license"},
        {"name": "Ludee", "email": "none", "date": "2018-10-08", "comment": "Add source"}],
    "resources": [
        {"name": "model_draft.reeem_times_paneu_output",
        "format": "PostgreSQL",
        "fields": [
            {"name": "id", "description": "Unique identifier", "unit": "none"},
            {"name": "nid", "description": "Row id", "unit": "none"},
            {"name": "dfid", "description": "Internal dataframe id", "unit": "none"},
            {"name": "pathway", "description": "REEEM pathway", "unit": "none"},
            {"name": "framework", "description": "REEEM framework", "unit": "none"},
            {"name": "version", "description": "REEEM version", "unit": "none"},
            {"name": "region", "description": "Country or region", "unit": "none"},
            {"name": "year", "description": "Year", "unit": "none"},
            {"name": "category", "description": "2. classification", "unit": "none"},
            {"name": "indicator", "description": "Parameter name", "unit": "none"},
            {"name": "value", "description": "Parameter value", "unit": "unit"},
            {"name": "unit", "description": "Parameter unit", "unit": "none"},
            {"name": "aggregation", "description": "True if aggregated", "unit": "none"},
            {"name": "tags", "description": "Free classification", "unit": "none"},
            {"name": "updated", "description": "Timestamp", "unit": "none"} ] } ],
    "metadata_version": "1.3"}
Data saved to file: data/times_paneu/reeem_times_paneu_output_metadata.json

# View 1: One indicator for one region in one pathway over time
## Database Query

This section can be used to query one specific **indicator** (_filter 1_) for one specific **region** (_filter 2_) from one database table (_table_).<br>
Indicators are identified by the **nid**.<br>
It is possible to select one specific **pathway** (_filter 3_) and one specific data **version** (_filter 4_).<br>
To querry additional coulmns from the database table add the names to the **SELECT** statement (_column_).<br>
The sortation is done by the **ORDER BY** (_sorting_).<br>
The result from the database is saved to a pandas.DataFrame (**df_1**) and can be printed.

In [ ]:
# Database select (SQL)
sql = text("""
    SELECT  pathway, version, region, year, indicator, category, value, unit  -- column
    FROM    {0}.{1}                               -- table
    WHERE nid = 867                               -- filter 1
        AND region = 'EU28'                       -- filter 2
        AND pathway = 'Base'                      -- filter 3
        AND version = 'DataV1'                    -- filter 4
    ORDER BY pathway, version, year;              -- sorting """.format(schema, table_out))
df_1 = pd.read_sql_query(sql, con)
# print(df_1)

## Metadata

The important information from the above select (**df_1**) is collected in a Dictionary (**info_dict_1**).

In [ ]:
# Facts dict
info_dict_1 = {}
info_dict_1['Filename'] = ['{}_reeem_plot_1' .format(pd.to_datetime('today').strftime("%Y-%m-%d"))]
info_dict_1['Category'] = df_1.loc[:,'category'].unique()
info_dict_1['Indicator'] = df_1.loc[:,'indicator'].unique()
info_dict_1['Unit'] = df_1.loc[:,'unit'].unique()
info_dict_1['Pathway'] = df_1.loc[:,'pathway'].unique()
info_dict_1['Year'] = df_1.loc[:,'year'].unique().tolist()
info_dict_1['Region'] = df_1.loc[:,'region'].unique()
info_dict_1['Y-Axis'] = ['{} in {}'.format(*info_dict_1['Indicator'], *info_dict_1['Unit'])]
info_dict_1['Title'] = ['{} in {}'.format(*info_dict_1['Category'], *info_dict_1['Region'])]
info_dict_1['Metadata'] = meta_out

# Print facts
for x in info_dict_1:
    print(x,':',info_dict_1[x])

## Plot

This is a basic plot with [matplotlib](https://matplotlib.org/).<br>
The title and y-axis labels are taken from the **info_dict_1**. They can be exchanged with manual text.

In [ ]:
# Plot for one indicator and one pathway
fig = plt.figure(figsize=(12, 5))
ax = plt.subplot()
# plt.title(r'CO2-Emissions in EU28', fontsize=16)  # Manual title
plt.title(*info_dict_1['Title'], fontsize=16)         # Title from info
# plt.ylabel(r'CO2-Emissions in Mt')                # Manual label
plt.ylabel(*info_dict_1['Y-Axis'])                    # Label from info
plt.plot(df_1.loc[:,'year'], df_1.loc[:,'value'], 
         marker="o",  markersize=5)
plt.legend(df_1.loc[:,'pathway'].unique())
ax.set_ylim(ymin=0)

## Interactive Plot

This is a basic interactive plot with [Plotly](https://plot.ly/python/).<br>
You can hover over the elements of the plot and observe the data.

In [ ]:
# Interactive plot for one indicator and one pathway
data = [go.Scatter(
    x = df_1.loc[:,'year'],
    y = df_1.loc[:,'value'],
    name = df_1.loc[:,'pathway'].unique())]

# Set layout
layout = go.Layout(
    height=400, width = 800,
    #title='CO2-Emissions in EU28',
    title=''.join(info_dict_1['Title']),
    # yaxis=dict(title='CO2-Emissions in Mt') )
    yaxis=dict(title=''.join(info_dict_1['Y-Axis'])) )
ifig = go.Figure(data=data, layout=layout)
pltly.iplot(ifig)

## Save results to files

The results are saved to cooresponding files in a folder named **data**.<br>
The **info_dict** is saved to a text file (txt).<br>
The **data** is saved to a table (csv).<br>
The **plot** is saved as an image (png).<br>
The **interactive plot** is saved as a webpage (html). It will also open in a new tab of your browser.

In [ ]:
# Write facts to textfile
txtname = ('data/' +{0}+ '/{1}.txt').format(folder, *info_dict_1['Filename'])
with open(txtname,'w') as tfile:
    for i in info_dict_1.keys():
        tfile.write(i + ": " + ', '.join([str(x) for x in info_dict_1[i]]) + "\n")
tfile.close()
print("Facts saved to file:", txtname)

# Save data to CSV
csvname = 'data/' +{0}+ '/{1}.csv' .format(folder, *info_dict_1['Filename'])
df_1.to_csv(csvname, sep=';')
print("Data saved to file:", csvname)

# Save plot as file
plotname = 'data/' +{0}+ '/{1}.png' .format(folder, *info_dict_1['Filename'])
fig.savefig(plotname, bbox_inches='tight')
print("Plot saved to file:", plotname)

# Save interactive plot
htmlname = 'data/' +{0}+ '/{1}.html' .format(folder, *info_dict_1['Filename'])
pltly.plot(ifig, filename=htmlname)
print("Interactive plot saved to file:", htmlname)

# View 5: All indicators for all regions in one pathway over time

## Database Query

This section can be used to query all **indicator** for all regions from one database table (_table_).<br>
It is possible to select one specific **pathway** (_filter 1_) and one specific data **version** (_filter 2_).<br>
To querry additional coulmns from the database table add the names to the **SELECT** statement (_column_).<br>
The sortation is done by the **ORDER BY** (_sorting_).<br>
The result from the database is saved to a pandas.DataFrame (**df_5**) and can be printed.

In [ ]:
# Database select (SQL)
sql = text("""
    SELECT  id, nid, pathway, framework, version, 
        region, year, category, indicator, value, 
        unit, aggregation, updated  -- column
    FROM    model_draft.reeem_times_paneu_output  -- table
    WHERE pathway = 'Base'                        -- filter 1
        AND version = 'DataV1'                    -- filter 2
    ORDER BY pathway, version, region, year;      -- sorting """)
df_5 = pd.read_sql_query(sql, con)
df_5.head(5)

## Metadata

The important information from the above select (**df_5**) is collected in a Dictionary (**info_dict_5**).

In [ ]:
# Facts dict
info_dict_5 = {}
info_dict_5['Updated'] = [x.strftime("%Y-%m-%d") for x in df_5.loc[:,'updated'].unique()]
info_dict_5['Filename'] = ['{0}_{1}_TIMESPanEU_{2}_{3}_Output' .format(
    info_dict_5['Updated'][0],
    df_5.loc[:,'pathway'].unique()[0],
    df_5.loc[:,'framework'].unique()[0],
    df_5.loc[:,'version'].unique()[0])]
#info_dict_5['Category'] = df_5.loc[:,'category'].unique()
#info_dict_5['Indicator'] = df_5.loc[:,'indicator'].unique()
#info_dict_5['Unit'] = df_5.loc[:,'unit'].unique()
info_dict_5['Pathway'] = df_5.loc[:,'pathway'].unique()
info_dict_5['Version'] = df_5.loc[:,'version'].unique()
info_dict_5['Year'] = df_5.loc[:,'year'].unique().tolist()
info_dict_5['Region'] = df_5.loc[:,'region'].unique()
#info_dict_5['Y-Axis'] = ['{} in {}'.format(*info_dict_5['Indicator'], *info_dict_5['Unit'])]
#info_dict_5['Title'] = ['{} in all regions'.format(*info_dict_5['Category'])]
info_dict_5['Metadata'] = df_meta

# Print facts
for x in info_dict_5:
    print(x,':',info_dict_5[x])

## Save results to files

The results are saved to cooresponding files in a folder named **data**.<br>
The **info_dict** is saved to a text file (txt).<br>
The **data** is saved to a table (csv).<br>

In [ ]:
# Write facts to textfile
filename = ('data/{}.txt').format(*info_dict_5['Filename'])
with open(filename,'w') as tfile:
    for i in info_dict_5.keys():
        tfile.write(i + ": " + ', '.join([str(x) for x in info_dict_5[i]]) + "\n")
tfile.close()
print("Facts saved to file:", filename)

# Save data to CSV
csvname = 'data/{}.csv' .format(*info_dict_5['Filename'])
df_5.to_csv(csvname, sep=';')
print("Data saved to file:", csvname)